#navbar.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");

}
#refresh {
  position: relative;
  color: rgba(122, 149, 240, 0.787);
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  margin: 10px auto;
}
#refresh:hover {
  color: rgba(159, 211, 246, 0.705);
  cursor: pointer;
}
#post-button:hover {
  color: rgba(159, 211, 246, 0.705);
  cursor: pointer;
} 

#you-twiddle-form{
  position: relative;
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.timeStamp {
  padding: 5px;
  font-size: 10px; 
}
.header {
  padding: 40px;
  text-align: left;
  background: #2c363821;
  color: black;
  font-size: 20px;
}

.feed{
  margin-left: 3vw;
  padding: 7px 13px;
}

#userName{
  position: left;
  margin-left: 1.5vw;
  padding: 5px 10px;
  font-size: 15px;
} 
.avatars{
  position: left;
  padding: 10px 10px 10px 10px
}
.twiddles{
  position: relative;
  font-size: 15px
}  
h2:hover{
  font-size: 1.65em;
  color: rgba(159, 211, 246, 0.705);
  cursor: pointer;
}

